body {
   
    background: 
    url(../images/1078886V2.jpg) no-repeat,
    url(../images/1078886bg.jpg) repeat
    ;
    background-size: 100%;
    
    color: #ffffff;

    font-family: 'Reem Kufi', sans-serif;
}

a {
    color: #ffffff; 
    text-decoration: none;
}
  
a:hover {
    color: #ffffff; 
    text-decoration: underline;
}

.container-fluid {
    margin-top: 2em;
    margin-bottom: 2em;
}

p {
    width: 60%;
}

.main-area {
    margin-top: 5em;
    margin-bottom: 5em;
}

.form-control, label {
    width: 40%;
}

.form-control {
    /* height: 2em; */
    min-width: 20em;
}

.btn {
    width: auto;
    margin-top: 1em;
}

.card {
	border: solid 1px;
	border-color: white;
	box-shadow: 3px 3px;
	width: 40%;
	color: white;
	margin: 1.5em 1em;
	background-color: rgba(255, 255, 255, 0.15);
}

h5 {
	text-align: center;
	text-decoration: underline;
}

.form-check-inline .form-check-input {
	margin-left: 0.3125rem;
}




