body {
	background: url(../images/1078886V2.jpg) no-repeat,
		url(../images/1078886bg.jpg) repeat;
	background-size: 100%;
	color: #ffffff;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.3rem;
	padding: 15px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

h5 {
	text-decoration: underline;
}

/* Start: aus Bootstrap für sticky footer with navbar */
main>.container {
	padding: 15px 15px 0;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

/* Ende: aus Bootstrap für sticky footer with navbar */

.soundmachine-navbar {
	font-size: 1.5rem;
}

.soundmachinenbrand {
	font-size: 2.5rem;
}

.width-50percent {
	width: 50%;
}

.width-25percent {
	width: 25%;
}

.width-textarea {
	width: 24.5%;
}

.bandpositioncontrol {
	min-width: 100%;
}

.cardcontainer {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 40px;
}


.descriptioncard {
	background-color: transparent;
	min-width: 15rem;
	border: 1px solid white;
	margin: 10px;
	padding: 10px;
}

/*
 * Marcel 
 */

/* Einleitungsfrage der Landingpage */
.fragestellung {
	font-weight: bold;
	margin-top: 3em;
}

/* Positionierung Login-Feld */
.login {
	display: flex;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 5%;
	align-content: center;
}

/* Positionierung des rechten Footerbereichs auf der rechten Seite */
.new-footer-right {
	text-align: right;
}
/* 
 * Marcel Ende 
 */

.imagecard-band {
	background-color: transparent;
	width: 60%;
	border: 1px solid white;
	margin: 10px;
	padding: 10px;
}

.imagecard-musician {
	background-color: transparent;
	width: 30%;
	border: 1px solid white;
	margin: 10px;
	padding: 10px;
}

.searchresultcard {
	background-color: transparent;
	width: 25rem;
	border: 1px solid white;
	margin: 10px;
	padding: 5px;
}

.searchresultcard a:hover {
    color: #ffffff;
    text-decoration: none;
}

.tableincard {
	margin: 0.5rem;
}

.genreupdatecontainer {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.btnback, .btnedit, .btnsave, .btndelete, .btnupload {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btnsearch {
	width: 10rem;
}