body {
    background: 
    url(../images/1078886V2.jpg) no-repeat,
    url(../images/1078886bg.jpg) repeat
    ;
    background-size: 100%;
    
    color: #ffffff;

    font-family: 'Reem Kufi', sans-serif;
    padding: 15px;
}

a {
    color: #ffffff; 
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

img {
    max-width:100%;
    height:auto;
}

h5 {
	text-decoration: underline;
}

.container-fluid {
    margin-top: 2em;
    margin-bottom: 2em;
}

.main-area {
    margin-top: 5em;
    margin-bottom: 5em;
}

/* Positionierung Login-Feld */
.login {
	display: flex;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 5%;
	align-content: center;
}

/* Positionierung des rechten Footerbereichs auf der rechten Seite */
.right {
	text-align: right;
}

.bandpositioncontrol {
	min-width: 100%;
}

.CardContainer {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.DescriptionCard {
	background-color: transparent;
	width: 15rem;
	border: 1px solid white;
	margin: 5px;
	padding: 10px;
}

.ImageCard {
	background-color: transparent;
	width: 60%;
	border: 1px solid white;
	margin: 5px;
	padding: 10px;
}

.searchResultCard {
	background-color: transparent;
	width: 25rem;
	border: 1px solid white;
	margin: 5px;
	padding: 5px;
}

.searchResultCard a:hover {
    color: #ffffff;
    text-decoration: none;
}

.TableInCard {
	margin: 0.5rem;
}

.GenreUpdateContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.btnback, .btnedit, .btnsave, .btndelete {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btnsearch {
	width: 10rem;
}