<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Address Editor</title>
</head>
<body>
	<!-- If address.id is set, write edit, otherwise create -->
	<h3 th:text="${address.id} ? 'Edit Address' : 'Create Address'">Address</h3>
	<form method="post" th:action="@{/address/edit}" th:object="${address}">
		<input name="id" th:field="*{id}" type="hidden" /> 
		<label>Postcode:</label>
		<input type="text" th:field="*{postCode}" placeholder="Postcode" required/> 
		<br /> <br /> 

		<label>City:</label>
		<input type="text" th:field="*{city}" placeholder="City" required/>
		<br /> <br /> 

		<input type="submit" value="Save" />
	</form>
	<br>
	<a href="/address/list">Return to the list</a>
</body>
</html>