<!doctype html>
<html xmlns:th="http://www.thymeleaf" lang="en">
<head>
<title>Addresses</title>
</head>
<body>
	<h1>List of addresses</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Postcode</th>
			<th>City</th>
			<th>Edit-Link</th>
			<th>Delete-Link</th>
		</tr>
		<tr th:remove="all">
			<td>007</td>
			<td>53721</td>
			<td>Siegburg</td>
			<td>edit</td>
			<td>delete</td>
		</tr>
		<tr th:each="address : ${addresses}">
			<td th:text="${address.id}">
			<td th:text="${address.postCode}">
			<td th:text="${address.city}">
			<td><a th:href="@{/address/edit(id=${address.id})}">Edit</a></td>
        	<td><a th:href="@{/address/delete(id=${address.id})}">Delete</a></td>
		</tr>
	</table>
	<a th:href="@{/address/edit}">Insert new address</a>
	<br>
	<a th:href="@{/gender/list}">To Gender list</a>
	<br>
	<a th:href="@{/musician/list}">To Musician list</a>
	
</body>
</html>