<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Band Editor</title>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<h3 th:text="${band.id} ? 'Edit Band' : 'Create Band'">Band</h3>
	<form method="post" th:action="@{/band/create}" th:object="${band}">
		<input name="id" th:field="*{id}" type="hidden" /> 
				
		<label for="name">Name:</label>
		<input type="text" id="name" name="name"
			placeholder="Bandname" required
			th:field="*{name}" /> 
		<br /> <br /> 

		<label for="address">Address:</label>
		<input type="text" id="address" name="address"
			placeholder="Address" required
			th:field="*{address}" /> 
		<br /> <br /> 

		<label for="email">E-Mail:</label>
		<input type="text" id="email" name="email"
			placeholder="E-Mail Address" required
			th:field="*{email}" /> 
		<br /> <br />
		
		<label for="phone">Phone No.:</label>
		<input type="text" id="phone" name="phone"
			placeholder="Phone No." required
			th:field="*{phone}" /> 
		<br /> <br /> 
		
		<input type="submit" value="Save" />
	</form>

	<br>
	<a href="/band/show">Return to the list</a>
</body>
</html>