<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Band Editor</title>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<h3>
		<span th:text="${band.name}">Informationen zur Band</span>
	</h3>
	<p th:text="${band.description}">Lorem ipsum dolor sit amet,
		consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
		labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
		et accusam et justo duo dolores et ea rebum. Stet clita kasd
		gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
		nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
		sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
		rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
		ipsum dolor sit amet.</p>
	<h4>Kontaktdaten</h4>
	<ul>
		<li>Ansprechpartner: <span th:text="${band.owner.firstName} + ' ' + ${band.owner.firstName}">Elke E-Gitarre</span>
		</li>
		<li>Email: <span th:text="${band.email}">statisch@acdc.de</span>
		</li>
		<li>Telefon: <span th:text="${band.phone}">0228/181-0</span>
		</li>
		<li>Standort: <span
			th:text="${band.address.postCode} + ' ' + ${band.address.city}">12345
				Entenhausen</span>
		</li>
	</ul>
	<h4>Gespielte Musikrichtungen</h4>
	<ul>
		<li th:each="genre : ${genres}"><span th:text="${genre.name}">Pop</span></li>
	</ul>
	<h4>Positionen</h4>
	<ul>
		<li th:each="position : ${band.bandPositions}">
		<span th:text="${position.instrument.name}+' ('+${position.instrument.state}+')'">Posaune (offen)</span>
		</li>
	</ul>
</body>
</html>