<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Band Editor</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link
	href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi&display=swap"
	rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header th:replace="index :: navigation_bar">Navigation</header>

	<h3 th:text="${band.id} ? 'Band pflegen' : 'Band anlegen'">Band</h3>
	<form method="post" th:action="@{'/band/' + ${band.id} + '/upsert'}"
		th:object="${band}">
		<input name="id" th:field="*{id}" type="hidden" /> <input
			name="owner" th:field="*{owner}" type="hidden" />
		<div class="row">
			<div class="form-group col">
				<a class="btn btn-default" href="#"
					th:href="@{'/band/' + ${band.id} + '/uploadimage'}" role="button">
					<img th:unless="${band.image}"
					src="https://via.placeholder.com/728x200.png"
					class="img-fluid float-left bandphoto"> <img
					th:if="${band.image}"
					th:src="@{'/band/' + ${band.id} + '/bandimage'}"
					class="img-fluid float-left bandphoto">
				</a>
			</div>
			<div class="form-group col"></div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label th:for="*{name}">Name:</label> <input class="form-control"
					type="text" placeholder="Bandname" required th:field="*{name}" />
				<small class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}">Bandnamensfehler</small>
			</div>
			<div class="form-group col">
				<label th:for="*{description}">Beschreibung:</label>
				<textarea class="form-control" rows="5" cols="50"
					th:field="*{description}">Eine Beschreibung der Band!</textarea>
				<small class="invalid-feedback"
					th:if="${#fields.hasErrors('description')}"
					th:errors="*{description}">Beschreibungsfehler</small>
			</div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label th:for="*{email}">Email:</label> <input class="form-control"
					type="email" placeholder="Email" required th:field="*{email}" /> <small
					class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}">Emailfehler</small> <label th:for="*{phone}">Phone:</label>
				<input class="form-control" type="text" placeholder="Phone" required
					th:field="*{phone}" /> <small class="invalid-feedback"
					th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Telefonfehler</small>
			</div>
			<div class="form-group col">
				<label th:for="*{address.postCode}">PLZ:</label> <input
					class="form-control" type="text" placeholder="Postleitzahl"
					required th:field="*{address.postCode}" /> <small
					class="invalid-feedback"
					th:if="${#fields.hasErrors('address.postCode')}"
					th:errors="*{address.postCode}">Telefonfehler</small> <label
					th:for="*{address.city}">Stadt:</label> <input class="form-control"
					type="text" placeholder="Stadt" required th:field="*{address.city}" />
				<small class="invalid-feedback"
					th:if="${#fields.hasErrors('address.city')}"
					th:errors="*{address.city}">Stadtfehler</small>
			</div>
		</div>
		<h4>Genres</h4>
		<div class="form-check form-check-inline"
			th:each="genre : ${allGenres}">
			<input class="form-check-input" type="checkbox"
				th:value="${genre.id}" th:field="*{favoriteGenres}" /> <label
				class="form-check-label" th:for="${#ids.prev('favoriteGenres')}"
				th:text="${genre.name}">Kuschelrock</label>
		</div>

		<h4>Bandpositionen</h4>
		<div class="table-responsive">
			<table class="table table-sm table-dark">
				<tr>
					<th scope="col">Instrument</th>
					<th scope="col">Alter von</th>
					<th scope="col">Alter bis</th>
					<th scope="col">Status</th>
					<th scope="col">Löschen</th>
				</tr>
				<tr th:each="position, positionStat : *{bandPositions}">
					<input name="${position.id}"
						th:field="*{bandPositions[__${positionStat.index}__].id}"
						type="hidden" />
					<input name="${position.band.id}"
						th:field="*{bandPositions[__${positionStat.index}__].band.id}"
						type="hidden" />
					<input name="${position.instrument.id}"
						th:field="*{bandPositions[__${positionStat.index}__].instrument.id}"
						type="hidden" />
					<td><span th:text="${position.instrument.name} + ':'">Posaune:</span></td>
					<td><input class="form-control" type="number"
						th:field="*{bandPositions[__${positionStat.index}__].ageFrom}" /></td>
					<td><input class="form-control" type="number"
						th:field="*{bandPositions[__${positionStat.index}__].ageTo}" /></td>
					<td><select class="custom-select"
						th:field="*{bandPositions[__${positionStat.index}__].state}">
							<option th:each="state : ${positionStates}" th:value="${state}"
								th:text="${state}">Besetzungstatus</option>
					</select></td>
					<td><a class="btn deletebtn btn-secondary"
						th:href="'/band/' + ${band.id} + '/delete/' + ${position.id}">Delete</a>
					</td>
				</tr>
			</table>
		</div>
		<input class="btn btn-primary" type="submit" value="Speichern" />
	</form>
	<div th:if="${band.id}">
		<h4>Bandposition hinzufügen</h4>
		<form method="post"
			th:action="@{'/band/' + ${band.id} + '/newposition'}"
			th:object="${Position}">
			<div class="input-group">
				<div class="input-group-prepend">
					<input type="submit" class="selectbtn btn btn-outline-secondary"
						value="Hinzufügen"></input>
				</div>
				<select class="custom-select" th:name="instrID" th:id="instrID">
					<option selected>Bitte Instrument wählen...</option>
					<option th:each="instrument : ${allInstruments}"
						th:value="${instrument.id}" th:text="${instrument.name}">
						Geige</option>
				</select>
			</div>
		</form>
	</div>
	<a class="btn btn-secondary" href="#" onclick="history.go(-1)">Go
		Back</a>

	<footer th:replace="index :: footer"></footer>

</body>
</html>