<!doctype html>
<html xmlns:th="http://www.thymeleaf" lang="en">
<head>
<title>Bands</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<h1>List of Bands</h1>
	<table>
		<tr>
			<th>Name</th>
<!-- 			<th>Adresse</th> 		-->
			<th>E-Mail</th>	
			<th>Phone No.</th>		
			<th>Edit-Link</th>
			<th>Delete-Link</th>
		</tr>
		<tr th:remove="all">
			<td>007</td>
			<td>James</td>
			<td>Bond</td>
			<td>Herr</td>
			<td>01.01.1960</td>
			<td>edit</td>
			<td>delete</td>
		</tr>
		<tr th:each="band : ${bands}">
			<td th:text="${band.name}">
	<!--		<td th:text="${band.address}">		-->
			<td th:text="${band.email}">
			<td th:text="${band.phone}">		
			<td><a th:href="@{/band/edit(id=${band.id})}">Edit</a></td>
        	<td><a th:href="@{/band/delete(id=${band.id})}">Delete</a></td>
		</tr>
	</table>
	<a th:href="@{/band/edit}">Insert new band</a>
	<br>
	<a th:href="@{/}">To Index page</a>
	
</body>
</html>