<!doctype html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
<title>Band Information</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link
	href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi&display=swap"
	rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container d-flex flex-column h-100">
	<div class="content-area">
		<header th:replace="index :: navigation_bar">Navigation</header>
		<main role="main" class="flex-shrink-0">
			<div class="container">

				<div class="CardContainer">
					<div class="card ImageCardBand">
						<img class="card-img-top" th:unless="${band.image}"
							src="https://via.placeholder.com/728x300.png">
						<img class="card-img-top" th:if="${band.image}"
							src="../static/images/acdc_schriftzug.jpeg"
							th:src="@{'/band/' + ${band.id} + '/bandimage'}" height="300">
						<div class="card-body">
							<h5 class="card-title" th:text="${band.name}">Informationen
								zur Band</h5>
							<p class="card-text" th:text="${band.description}">Lorem
								ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
								nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
								erat, sed diam voluptua. At vero eos et accusam et justo duo
								dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
								sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
								amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
								invidunt ut labore et dolore magna aliquyam erat, sed diam
								voluptua. At vero eos et accusam et justo duo dolores et ea
								rebum. Stet clita kasd gubergren, no sea takimata sanctus est
								Lorem ipsum dolor sit amet.</p>
						</div>
					</div>
				</div>
				<div class="CardContainer nowidth">
					<div class="card description-card">
						<h4>Kontaktdaten</h4>
						<table class="TableInCard">
							<tr>
								<td>Ansprechpartner:</td>
								<td
									th:text="${band.owner.firstName} + ' ' + ${band.owner.lastName}">Elke
									E-Gitarre</td>
							</tr>
							<tr>
								<td>E-Mail:</td>
								<td th:text="${band.email}">statisch@acdc.de</td>
							</tr>
							<tr>
								<td>Telefon:</td>
								<td th:text="${band.phone}">0228/181-0</td>
							</tr>
							<tr>
								<td>Standort:</td>
								<td
									th:text="${band.address.postCode} + ' ' + ${band.address.city}">12345
									Entenhausen</td>
							</tr>
						</table>
					</div>
					<div class="card description-card">
						<h4>Musikrichtungen</h4>
						<ul>
							<li th:each="genre : ${band.favoriteGenres}">
								<span th:text="${genre.name}">Pop</span>
							</li>
						</ul>
					</div>
					<div class="card description-card">
						<h4>Positionen der Band</h4>
						<ul>
							<li th:each="position : ${band.bandPositions}">
								<span
									th:text="${position.instrument.name}+' ('+${position.state}+')'">Posaune
									(offen)</span>
							</li>
						</ul>
					</div>
				</div>
				<form method="get" th:action="@{'/band/' + ${band.id} + '/edit'}"
					th:object="${band}">
					<div th:if="${band.owner.id == musician.id}">
						<input name="ownerid" th:field="*{owner.id}" type="hidden">
						<input class="btn btn-primary btnedit" type="submit"
							value="Bearbeiten">
					</div>
				</form>
				<a class="btn btn-secondary btnback" href="#"
					onclick="history.go(-1)">Zurück</a>
			</div>
		</main>
		<footer th:replace="index :: footer">Footer</footer>
	</div>
</body>
</html>