<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>SoundMachine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <!-- zum lokalen Testen -->
    <!--  <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>


<body>
    <!-- Navigationsleiste-->

    <header th:replace="index :: navigation_bar"></header>



    <!-- Hauptbereich -->
    <main>
        <div class="container-fluid">
            <h3>Search your band</h3>
            <form action="#" th:action="@{'/search/'}" method="get">
                <div class="form-group">
                    <label>Positions</label>
                    <select class="form-control" id="showBand">
                        <option>All</option>
                        <option>Only open positions</option>
                    </select>
                    <small id="positionsHelpBlock" class="form-text">
                        Show all bands or only bands with open positions.
                    </small>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Zip-Code</label>
                    <input name="zipcode" type="text" class="form-control" id="zipcode" placeholder="Zip-Code">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input name="city" type="text" class="form-control" id="city" placeholder="City">
                </div>
                <div class="form-group">
                    <label for="instrument">Instruments</label>
                    <select name="instrument" class="form-control" id="instrument">
                        <option></option>
                        <option>Violine</option>
                        <option>Bass</option>
                        <option>Schlagzeug</option>
                        <option>Gesang</option>
                        <option>Keyboard</option>
                        <option>E-Gitarre</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="genre">Genres</label>
                    <select name="genre" class="form-control" id="genre">
                        <option></option>
                        <option>Metal</option>
                        <option>Jazz</option>
                        <option>Rock</option>
                        <option>Pop</option>
                        <option>Oldies</option>
                        <option>Schlager</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-sm btn-light btn-block">Search</button>
            </form>
        </div>
    </main>
	
	<table>
		<tr>
			<th class="center">Trefferliste</th>
		</tr>
		<tr  th:each="band : ${bands}">
			<td> 
				<a th:href="@{'/band/' + ${band.id} + '/view'}" th:text="${band.name}">ACDC</a>
				<ul>
					<li th:text="${band.address.postCode} + ' ' + ${band.address.city}" ></li>
					<li>
						<span>Bandpositionen: </span>
						<span th:each="position : ${band.bandPositions}">
							<span th:text="${position.instrument.name} + ', '">Flöte</span>
						</span>
					</li>
					<li>
						<span>Genre: </span>
						<span th:each="genre : ${band.favoriteGenres}">
							<span th:text="${genre.name} + ', '">Folklore</span>
						</span>
					</li>
					
				</ul>
			</td>
		</tr>
	</table>
	
	<a th:href="@{/band/edit}">Insert new band</a>


 
    <footer th:replace="index :: footer"></footer>


</body>

</html>