<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bandposition Editor</title>
</head>
<body>
	<!-- If musician.id is set, write edit, otherwise create -->
	<h3 th:text="${bandposition.id} ? 'Edit Bandposition' : 'Create Bandposition'">Bandposition</h3>
	<form method="post" th:action="@{/bandposition/edit}" th:object="${bandposition}">
		<input name="id" th:field="*{id}" type="hidden" /> 

		<label for="ageFrom">Age  from:</label>
		<input type="number" placeholder="Age from" required
			th:field="*{ageFrom}" /> 
		<br /> <br /> 
		
		<label for="ageTo">Age to:</label>
		<input type="number" placeholder="Age to" required
			th:field="*{ageTo}" /> 
		<br /> <br /> 
		
		<input type="submit" value="Save" />
	</form>

	<br>
	<a href="/bandposition/list">Return to the list</a>
</body>
</html>