<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gender Editor</title>
</head>
<body>
	<!-- If gender.id is set, write edit, otherwise create -->
	<h3 th:text="${gender.id} ? 'Edit Gender' : 'Create Gender'">Gender</h3>
	<form method="post" th:action="@{/gender/edit}" th:object="${gender}">
		<input name="id" th:field="*{id}" type="hidden" /> 
		<label for="name">Gender:</label>
		<input type="text" id="name" name="name"
			placeholder="Please specify the gender here" required
			th:field="*{name}" /> 
		<br /> <br /> 
		<input type="submit" value="Save" />
	</form>

	<form th:remove="all">
		<label for="genderName">Gender name: </label> <input type="text"
			name="name" id="genderName"> <input type="submit"
			value="Save">
	</form>
	<br>
	<a href="/gender/list">Return to the list</a>
</body>
</html>