<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Genre Editor</title>
</head>
<body>
	<!-- If genre.id is set, write edit, otherwise create -->
	<h3 th:text="${genre.id} ? 'Edit Genre' : 'Create Genre'">Gender</h3>
	<form method="post" th:action="@{/genre/edit}" th:object="${genre}">
		<input name="id" th:field="*{id}" type="hidden" /> 
		<label for="name">Genre:</label>
		<input type="text" placeholder="Please specify the genre here" required
			th:field="*{name}" /> 
		<br /> <br /> 
		<input type="submit" value="Save" />
	</form>

	<form th:remove="all">
		<label for="genreName">Genre name: </label> <input type="text"
			name="name" id="genreName"> <input type="submit"
			value="Save">
	</form>
	<br>
	<a href="/genre/list">Return to the list</a>
</body>
</html>