<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}">
<title>SoundMachine</title>
</head>
<body>
	<header>
		<h1>SoundMachine</h1>
	</header>
	<main>
		<section class="top">
			<form method="get" th:action="@{/search}" th:object="${search}">

				<!-- MKr: New Code to read gender Options from Java  -->
				<li th:each="gen : ${genderOptions}"><input type="radio"
					th:value="${gen.id}" th:field="*{genderSelected}" /> <label
					th:for="${#ids.prev('genderSelected')}" th:text="${gen.name}">Heating
				</label></li>

				<!-- 
				<input name="id" th:field="*{id}" type="hidden">
				<input class="center" id="genderMale" name="gender" th:field="*{gender}" type="radio"><label>Herr</label>
				<input class="center" id="genderFemale" name="gender" th:field="*{gender}" type="radio"><label>Frau</label>
				<input class="center" id="genderDivers" name="gender" th:field="*{gender}" type="radio"><label>Divers</label>
				<br><br>
-->
				<input class="fieldSize" id="firstname" name="firstName"
					placeholder=" Firstname" required th:field="*{firstName}"
					type="text"> <br> <br> <input class="fieldSize"
					id="lastname" name="lastName" placeholder=" Lastname" required
					th:field="*{lastName}" type="text"> <br> <br> <input
					class="dateFieldSize" id="birthday" name="birthday" required
					th:field="*{birthday}" type="date"> <br> <br> <input
					class="fieldSize" id="postcode" name="postCode"
					placeholder=" 53227" th:field="*{postCode}" type="text"> <br>
				<br> <input class="fieldSize" id="city" name="city"
					placeholder=" Bonn" th:field="*{city}"></input> <br> <br>
				<input class="center" type="submit" value="Search">
			</form>
		</section>

		<section>
			<a href="https://placeholder.com"><img
				src="https://via.placeholder.com/400x250"></a>
		</section>
	</main>
	<footer>
		<section>
			<li th:each="instrument : ${instrumentOptions}"><input
				type="checkbox" th:value="${instrument.id}" /> <label
				th:text="${instrument.name}">Heating </label></li>
			<!--  Marcels code
			<br>
			<br> 
			<input id="drums" name="drums" type="checkbox">
			<label>Schlagzeug</label>
			-->
		</section>

		<section>
			<h3>Skill-Level</h3>
			<!-- SkillLevel Dropdown filled based on skillLevelOptions  -->
			<select>
				<option th:each="skillLevel : ${skillLevelOptions}"
					th:value="${skillLevel.id}" th:text="${skillLevel.name}">Skill-Level</option>
			</select> <select>
				<option th:each="skillLevel : ${skillLevelOptions}"
					th:value="${skillLevel.id}" th:text="${skillLevel.name}">Skill-Level</option>
			</select> <select>
				<option th:each="skillLevel : ${skillLevelOptions}"
					th:value="${skillLevel.id}" th:text="${skillLevel.name}">Skill-Level</option>
			</select>


			<!-- Marcels code
				<select>
					<option value="anfaenger">Anfänger</option>
					<option value="fortgeschritten">Fortgeschritten</option>
					<option value="profi">Profi</option>
				</select><br><br>
				<select>
					<option value="anfaenger">Anfänger</option>
					<option value="fortgeschritten">Fortgeschritten</option>
					<option value="profi">Profi</option>
				</select><br><br>
				<select>
					<option value="anfaenger">Anfänger</option>
					<option value="fortgeschritten">Fortgeschritten</option>
					<option value="profi">Profi</option>
				</select><br><br>
-->
		</section>
		<section>
			<h3>Genres</h3>
			<input id="rock" name="rock" type="checkbox"><label>Rock</label>
			<br> <br> <input id="metal" name="metal" type="checkbox"><label>Metal</label>
			<br> <br> <input id="schlager" name="schlager"
				type="checkbox"><label>Schlager</label>
		</section>
	</footer>
</body>
</html>