<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>SoundMachine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
    <!-- Navigationsleiste-->
    <header th:replace="homepage_logged_out.html :: navigation_bar"></header>

    <h1>Übersichtsseiten</h1>
    <a href="/musician/list">Show all Musicians</a>
    <br>
    <a href="/band/list">Show all Bands</a>
    <br>
    <a href="/instrument/list">Show all Instruments</a>
    <br>
    <a href="/genre/list">Show all Genres</a>
    <br>
    <a href="/bandposition/list">Show all Bandpositions</a>
    <br>
    <a href="/address/list">Show all Addresses</a>
    <br>
    <a href="/gender/list">Show all Gender</a>
</body>

</html>