<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
	</head>
	
	<body>
		<h1>Übersichtsseiten</h1>
		<a href ="/musician/list">Show all Musicians</a>
		<br>
		<a href ="/band/list">Show all Bands</a>
		<br>
		<a href ="/instrument/list">Show all Instruments</a>
		<br>
		<a href ="/genre/list">Show all Genres</a>
		<br>
		<a href ="/bandposition/list">Show all Bandpositions</a>
		<br>
		<a href ="/address/list">Show all Addresses</a>
		<br>
		<a href ="/gender/list">Show all Gender</a>
	</body>
</html>