<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Soundmachine Registration</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link
	href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi&display=swap"
	rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link th:remove="all" rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<header th:replace="index :: navigation_bar">Navigation</header>

	<h3>Soundmachine Registration</h3>
	<form method="post" th:action="@{/register}"
		th:object="${registrationForm}" enctype="multipart/form-data">
		<div class="form-group form-check form-check-inline">
			<div th:each="gender : ${allGenders}">
				<input class="form-check-input" type="radio" th:value="${gender.id}"
					th:field="*{gender}" required /> <label class="form-check-label"
					th:for="${#ids.prev('gender')}" th:text="${gender.name}">Divers</label>
				<small class="form-text"
					th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Geschlecht
					Fehler</small>
			</div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label>Vorname:</label> <input class="form-control" type="text"
					placeholder="Vorname" th:field="*{firstName}" /> <small
					class="form-text "
					th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Vorname
					Fehler</small>
			</div>
			<div class="form-group col">
				<label>Nachname:</label> <input class="form-control" type="text"
					placeholder="Nachname" required th:field="*{lastName}" /> <small
					class="form-text"
					th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Nachname
					Fehler</small>
			</div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label>Geburtsdatum:</label> <input class="form-control" type="date"
					required th:field="*{birthday}" /> <small
					class="form-text"
					th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Geburtstag
					Fehler</small>
			</div>
			<div class="form-group col">
				<label>Telefon:</label> <input class="form-control" type="text"
					placeholder="Phone" th:field="*{phone}" /> <small
					class="form-text" th:if="${#fields.hasErrors('phone')}"
					th:errors="*{phone}">Telefon Fehler</small>
			</div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label>Beschreibung:</label>
				<textarea class="form-control" name="description" rows="5" cols="60"
					th:field="*{description}">Mein Beschreibungstext</textarea>
			</div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label>PLZ:</label> <input class="form-control" type="text"
					placeholder="Postleitzahl" required th:field="*{postCode}" /> <small
					class="form-text"
					th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}">PLZ
					Fehler</small>
			</div>
			<div class="form-group col">
				<label>Stadt:</label> <input class="form-control" type="text"
					placeholder="Stadt" required th:field="*{city}" /> <small
					class="form-text" th:if="${#fields.hasErrors('city')}"
					th:errors="*{city}">Stadt Fehler</small>
			</div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label>Wähle Bilddatei</label> <input class="form-control-file"
					type="file" id="imagefile" name="imagefile" required /> <small
					class="form-text" th:if="${#fields.hasErrors('image')}"
					th:errors="*{image}">Bild Fehler</small>
			</div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label>Email/Benutzername:</label> <input class="form-control"
					type="email" placeholder="Email" required th:field="*{username}" />
				<small class="form-text"
					th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email
					Fehler</small>
			</div>
			<div class="form-group col">
				<label>Email/Benutzername (wiederholt):</label> <input
					class="form-control" type="email" placeholder="Email wiederholt"
					required th:field="*{usernameRepeated}" /> <small
					class="form-text"
					th:if="${#fields.hasErrors('usernameRepeated')}"
					th:errors="*{usernameRepeated}">Email Fehler</small>
			</div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label>Passwort:</label> <input class="form-control" type="password"
					placeholder="Passwort" required th:field="*{password}" /> <small
					class="form-text"
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Passwort
					Fehler</small>
			</div>
			<div class="form-group col">
				<label>Passwort (wiederholt):</label> <input class="form-control"
					type="password" placeholder="Passwort wiederholt" required
					th:field="*{passwordRepeated}" /> <small
					class="form-text"
					th:if="${#fields.hasErrors('passwordRepeated')}"
					th:errors="*{passwordRepeated}">Passwort Fehler</small>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h4>Genres</h4>
				<div class="form-check" th:each="genre : ${allGenres}">
					<input class="form-check-input" type="checkbox"
						th:value="${genre.id}" th:field="*{genres}" /> <label
						class="form-check-label" th:for="${#ids.prev('genres')}"
						th:text="${genre.name}">Kuschelrock</label>
				</div>
			</div>
			<div class="col">
				<h4>Instrumente</h4>
				<div class="form-check" th:each="instrument : ${allInstruments}">
					<input class="form-check-input" type="checkbox"
						th:value="${instrument.id}" th:field="*{instruments}" /> <label
						class="form-check-label" th:for="${#ids.prev('instruments')}"
						th:text="${instrument.name}">Schlagzeug</label> <small
						class="form-text"
						th:if="${#fields.hasErrors('instruments')}"
						th:errors="*{instruments}">Instrumentenfehler</small>
				</div>
			</div>
		</div>
		<input class="btn btn-primary" type="submit" value="Speichern" />
	</form>

	<footer th:replace="index :: footer">Footer</footer>

</body>
</html>