<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}">
<title>SoundMachine Suchergebnis</title>
</head>
<body>
	<header>
		<h1>SoundMachine-Suchergebnis</h1>
	</header>
	<main>
		<h2>Deine Daten:</h2>
		<ul>
			<li>Stammdaten:</li>
			<ul>
				<li th:text="${search.genderSelected.name}">Geschlecht</li>
				<br>
				<li th:text="${search.firstName}">Vorname</li>
				<br>
				<li th:text="${search.lastName}">Nachname</li>
				<br>
				<li th:text="${#calendars.format(search.birthday,'dd. MMMM yyyy')}">Geburtstag</li>
				<br>
				<li th:text="${search.postCode}">PLZ</li>
				<br>
				<li th:text="${search.city}">Stadt</li>
				<br>
			</ul>
			<li>Gewählte Instrument-Skills:</li>
			<ul>
				<li th:each="instrSkill : ${search.instrumentSkills}">
					<span th:text="${instrSkill.instrument.name}" />
					(<span th:text="${instrSkill.skillLevel.name}" />)
				</li>
			</ul>
			<li>Gewählte Genres:</li>
			<ul>
				<li th:each="genre : ${search.genresSelected}">
					<span th:text="${genre.name}" />
				</li>
			</ul>
		</ul>
	</main>
</body>
</html>

