<!doctype html>
<html class="h-100" lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Soundmachine</title>
<link
	href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body class="container d-flex flex-column h-100">

	<header th:replace="index :: navigation_bar">Navigation</header>

	<!-- If musician is register-flag ist set, than register, otherwise create -->
	<main role="main" class="flex-shrink-0">
		<div class="container">
			<h3
				th:text="${isMusicianRegister} ? 'Soundmachine Registrierung' : 'Musikerprofil bearbeiten'">Musician</h3>
			<form method="post"
				th:action="${isMusicianRegister} ? @{/register}: @{/musician/edit}"
				th:object="${musicianForm}" enctype="multipart/form-data">
				<div class="form-group">
					<div class="form-check form-check-inline"
						th:each="gender : ${allGenders}">
						<input class="form-check-input" type="radio"
							th:value="${gender.id}" th:field="*{gender}" required />
						<label class="form-check-label" th:for="${#ids.prev('gender')}"
							th:text="${gender.name}">Divers</label>
						<small class="form-text" th:if="${#fields.hasErrors('gender')}"
							th:errors="*{gender}">Geschlecht Fehler</small>
					</div>
				</div>
				<div class="row">
					<div class="form-group col">
						<label>Vorname:</label>
						<input class="form-control width-50percent" type="text"
							placeholder="Vorname" th:field="*{firstName}" />
						<small class="form-text "
							th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{firstName}">Vorname Fehler</small>
					</div>
					<div class="form-group col">
						<label>Nachname:</label>
						<input class="form-control width-50percent" type="text"
							placeholder="Nachname" required th:field="*{lastName}" />
						<small class="form-text" th:if="${#fields.hasErrors('lastName')}"
							th:errors="*{lastName}">Nachname Fehler</small>
					</div>
				</div>
				<div class="row">
					<div class="form-group col">
						<label>Geburtsdatum:</label>
						<input class="form-control width-50percent" type="date" required
							th:field="*{birthday}" />
						<small class="form-text" th:if="${#fields.hasErrors('birthday')}"
							th:errors="*{birthday}">Geburtstag Fehler</small>
					</div>
					<div class="form-group col">
						<label>Telefon:</label>
						<input class="form-control width-50percent" type="text"
							placeholder="Phone" th:field="*{phone}" />
						<small class="form-text" th:if="${#fields.hasErrors('phone')}"
							th:errors="*{phone}">Telefon Fehler</small>
					</div>
				</div>
				<div class="row">
					<div class="form-group col">
						<label>Beschreibung:</label>
						<textarea class="form-control width-textarea" name="description"
							rows="5" cols="60" th:field="*{description}">Mein Beschreibungstext</textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col">
						<label>PLZ:</label>
						<input class="form-control width-50percent" type="text"
							placeholder="Postleitzahl" required th:field="*{postCode}" />
						<small class="form-text" th:if="${#fields.hasErrors('postCode')}"
							th:errors="*{postCode}">PLZ Fehler</small>
					</div>
					<div class="form-group col">
						<label>Stadt:</label>
						<input class="form-control width-50percent" type="text"
							placeholder="Stadt" required th:field="*{city}" />
						<small class="form-text" th:if="${#fields.hasErrors('city')}"
							th:errors="*{city}">Stadt Fehler</small>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="form-group col">
						<label>Aktuelles Bild:</label>
					</div>
					<div class="form-group col">
						<img th:unless="${isMusicianRegister}"
							th:src="@{'/musician/image'}" height="300">
					</div>

					<div class="form-group col">					
						<span>Neues Bild:</span>
					</div>
					<div class="form-group col">
						<!-- Bild-Vorschau nach Dateiauswahl -->
						<img id="new-image" />
						<script>
							var loadFile = function(event) {
								var newImage = document.getElementById('new-image');
								newImage.src = URL
										.createObjectURL(event.target.files[0]);
							};
						</script>
						<input class="form-control-file" type="file" th:field="*{image}"
							th:required="${isMusicianRegister} ? 'required' : null"
							onchange="loadFile(event)" />
	
						<small class="form-text" th:if="${#fields.hasErrors('image')}"
							th:errors="*{image}">Bild Fehler</small>


					</div>
				</div>
				<div class="row">
					<div class="form-group col">
						<label>E-Mail/Benutzername:</label>
						<input class="form-control width-50percent" type="email"
							placeholder="E-Mail" required
							th:readonly="${isMusicianRegister} ? null : 'readonly'"
							th:field="*{username}" />
						<small class="form-text" th:unless="${isMusicianRegister}">Der
							Benutzername kann leider nicht geändert werden</small>
						<small class="form-text" th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}">E-Mail Fehler</small>
					</div>
					<div class="form-group col">
						<label>E-Mail/Benutzername (wiederholt):</label>
						<input class="form-control width-50percent" type="email"
							placeholder="E-Mail wiederholt" required
							th:readonly="${isMusicianRegister} ? null : 'readonly'"
							th:field="*{usernameRepeated}" />
						<small class="form-text" th:unless="${isMusicianRegister}">Der
							Benutzername kann leider nicht geändert werden</small>
						<small class="form-text"
							th:if="${#fields.hasErrors('usernameRepeated')}"
							th:errors="*{usernameRepeated}">E-Mail Fehler</small>
					</div>
				</div>
				<div class="row">
					<div class="form-group col">
						<label>Passwort:</label>
						<input class="form-control width-50percent" type="password"
							placeholder="Passwort"
							th:required="${isMusicianRegister} ? 'required' : null"
							th:field="*{password}" />
						<small class="form-text" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">Passwort Fehler</small>
					</div>
					<div class="form-group col">
						<label>Passwort (wiederholt):</label>
						<input class="form-control width-50percent" type="password"
							placeholder="Passwort wiederholt"
							th:required="${isMusicianRegister} ? 'required' : null"
							th:field="*{passwordRepeated}" />
						<small class="form-text"
							th:if="${#fields.hasErrors('passwordRepeated')}"
							th:errors="*{passwordRepeated}">Passwort Fehler</small>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<h4>Genres</h4>
						<div class="form-check" th:each="genre : ${allGenres}">
							<input class="form-check-input" type="checkbox"
								th:value="${genre.id}" th:field="*{genres}" />
							<label class="form-check-label" th:for="${#ids.prev('genres')}"
								th:text="${genre.name}">Kuschelrock</label>
						</div>
					</div>
					<div class="col">
						<h4>Instrumente</h4>
						<div class="form-check" th:each="instrument : ${allInstruments}">
							<input class="form-check-input" type="checkbox"
								th:value="${instrument.id}" th:field="*{instruments}" />
							<label class="form-check-label"
								th:for="${#ids.prev('instruments')}"
								th:text="${instrument.name}">Schlagzeug</label>
							<small class="form-text"
								th:if="${#fields.hasErrors('instruments')}"
								th:errors="*{instruments}">Instrumentenfehler</small>
						</div>
					</div>
				</div>
				<input class="btn btn-primary btnsave" type="submit"
					value="Speichern" />
			</form>
		</div>
	</main>

	<footer th:replace="index :: footer">Footer</footer>

</body>
</html>